body{
    margin: 0;
    padding: 30px;
    background-color: cornsilk;
}
.okvir{
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}
.velika-kartica{
    display: flex;
    gap: 20px;
}
.kartica{
    flex: 1;
    padding: 20px;
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
}
@media (max-width: 1100px){
    .velika-kartica{
        flex-direction: column;
    }
    body{
        background-color: rgb(134, 40, 181);
    }
}
@media (max-width: 760px){
    .velika-kartica{
        flex-direction: column;
    }
    body{
        background-color: rgb(172, 132, 192);
    }
}